@font-face {
  font-family: 'Strawford';
  src: url('https://cdn.jsdelivr.net/gh/TLS13016/brevo-fonts@main/Strawford-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
Ajout du fichier CSS pour la police Strawford
